<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online, user contributed recipe book">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Recipe Book</title>
</head>

<body>

        <header>
            <nav class="deep-blue">
                <div class="nav-wrapper">
                    <a href="{{ url_for('home') }}" class="brand-logo">Recipe Book</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        {% if session.user %}
                            <li><a href="{{ url_for('add_recipe') }}">New Recipe</a></li>
                            <li><a href="{{ url_for('filters') }}">Filters</a></li>
                            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        
            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('add_recipe') }}">New Recipe</a></li>
                    <li><a href="{{ url_for('filters') }}">Filters</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </header>

        <section>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="row flashes">
                <h4 class="vibrant center-align">{{ message }}</h4>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </section>

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="page-footer deep-blue">
            <div class="footer-copyright">
                <div class="container">
                    For educational purposes only
                </div>
            </div>
        </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://kit.fontawesome.com/af6bf0a804.js" crossorigin="anonymous"></script>

</body>

</html>