<!-- Extending a base HTML template -->
{% extends "base.html" %} 

<!-- Defining a block named 'content' -->
{% block content %}

<!-- Heading for the form -->
<h3 class="text center-align">Edit Filter</h3>

<!-- Creating a card-like panel with a light grey background -->
<div class="row card-panel grey lighten-5">
    <!-- Starting a form with method 'POST' and action URL pointing to 'edit_filter' route -->
    <form class="col s12" method="POST" action="{{ url_for('edit_filter', filter_id=filter.id) }}">
        <div class="row">
            <div class="input-field col s12">
                <!-- Icon for input field -->
                <i class="fas fa-folder-open prefix text"></i>
                <!-- Input field for 'filter_name' with initial value from 'filter' object and validation attributes -->
                <input
                  id="filter_name"
                  name="filter_name"
                  value="{{ filter.filter_name }}"
                  minlength="4"
                  maxlength="30"
                  type="text"
                  class="validate"
                  required
                />
                <!-- Label for the input field -->
                <label for="filter_name">Filter Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <!-- Submit button with label and edit icon -->
                <button type="submit" class="btn-large soft-teal text">
                  Edit filter <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Ending the 'content' block -->
{% endblock %}