{% extends "base.html" %}
{% block content %}

<h3 class="purple-text text-lighten-2 center-align">Filters</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_filter') }}" class="btn-large light-blue darken-2">
            Add Filter <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for filter in filters %}
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <span class="card-title">{{ filter.filter_name }}</span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('edit_filter', filter_id=filter.id) }}" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}