{% extends "base.html" %}
{% block content %}

<h3 class="purple-text text-lighten-2 center-align">Recipes</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-large light-blue darken-2">
            Add Recipe <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for recipe in recipes|sort(attribute="prep_time") %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4 flex-container">
            <div class="left-align">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.prep_time }} Mins
                <i class="light-blue-text text-lighten-2"></i>
            </div>
            <div class="center-align">
            {{ recipe.recipe_owner }}
            </div>
            <div class="right-align">
                {{ recipe.filter.filter_name }}
            </div>
        </div>
        <div class="collapsible-body">
            <p>{{ recipe.prep_time }} Mins - {{ recipe.cooking_method }}</p>
            <p>{{ recipe.recipe_description }}</p>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn green accent-4">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="btn red">Delete</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}