{% extends "base.html" %}
{% block content %}

<h3 class="text center-align">Recipes</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-large teal">
            Add Recipe <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for recipe in recipes|sort(attribute="prep_time") %}
    <li>
        <div class="collapsible-header text flex-container">
            <div class="left-align">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.recipe_name }} : {{ recipe.prep_time }} Mins</strong>
            </div>
            <div class="center-align">
            <P>Recipe Owner: {{ recipe.recipe_owner }}</P>
            </div>
            <div class="right-align">
                {{ recipe.filter.filter_name }}
            </div>
        </div>
        <div class="collapsible-body">
            <table>
                <tr>
                    <td class="title">Time to prepare</td>
                    <td class="title table-2">Cooking method</td>
                </tr>
                <tr>
                    <td>{{ recipe.prep_time }} Mins</td>
                    <td class="table-2">{{ recipe.cooking_method }}</td>
                </tr>
            </table>
                <p class="title">Recipe description</p>
                <p>{{ recipe.recipe_description }}</p>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn green accent-4">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="btn red">Delete</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}